@use "../helpers/" as *;

.footer {
  height: 50vh;
  translate: 0 50%;
  width: 100vw;
  padding-bottom: rem(90);
  position: relative;

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    height: 100vh;
    translate: 0 30%;
  }

  @media screen and (max-width: 375px) {
    translate: 0 20%;
  }
}

.footer {
  border-top: rem(1) solid #e8eeef;
}

.footer__inner {
  max-width: rem(1180);
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(15);
  padding-right: rem(15);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: rem(14);
  padding-bottom: rem(150);
  padding-top: rem(30);

  @include tablet {
    padding-bottom: 0;
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.footer__inner ul {
  padding-left: rem(40);
  li {
    list-style: disc;
  }
}

.footer__inner p {
  margin-top: rem(20);
  margin-bottom: rem(20);
}

.footer__inner a {
  color: #232323;
  text-decoration: underline;
  text-decoration-color: rgba(35, 35, 35, 0.3);
}

.footer__logo {
  width: fit-content;
  img {
    width: rem(90);
  }
}

.footer__inner a:hover {
  text-decoration-color: rgba(35, 35, 35, 0);
}

.footer__privacy-policy {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__forma {
  width: 100%;
  padding-top: rem(10);
}

.footer__site-info {
  margin-top: rem(14);
  width: 100%;
}

.footer__contraindications {
  width: 100%;
  color: #bac3c5;
  flex-basis: 100%;
  font: 300 rem(48) "Yanone Kaffeesatz", sans-serif;
  letter-spacing: rem(-3);
  margin-top: rem(40);
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 110%;
}
