@use "../helpers/" as *;

.header {
  width: 100%;
  border-radius: rem(2);
  background-color: var(--color-green);
  box-shadow: rem(0) rem(4) rem(20) rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  flex-shrink: 0;
}

.header.accent-bg {
  background-color: #325e18;
}

.header__container {
  min-height: rem(70);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    justify-content: start;
  }
}

.header__logo img {
  width: rem(131);
  flex-shrink: 0;
}

.header__nav {
  min-width: rem(240);
  width: rem(667);
  font-size: rem(16);
  text-transform: uppercase;

  @include tablet {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-green);
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -100%;

    &.open {
      transition: translate 0.5s ease;
      translate: 0 0;
      display: flex;
      justify-content: center;
      font-size: rem(24);

      ul {
        flex-direction: column;
        justify-content: center;
        gap: rem(20);
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--second-family);
    color: var(--color-white);

    a.disabled {
      opacity: 0.7;
    }

    a:hover {
      opacity: 0.7;
    }
  }
}

.header__menu-btn {
  display: none;
  width: rem(30);
  height: rem(24);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;

  &.open {
    position: relative;
    z-index: 101;

    span {
      &:nth-of-type(1) {
        rotate: 45deg;
        translate: 0 320%;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        rotate: -45deg;
        translate: 0 -320%;
      }
    }
  }

  @include tablet {
    display: flex;
  }
}

.header__menu-btn span {
  display: block;
  width: 100%;
  height: rem(2);
  border-radius: rem(10);
  background-color: var(--color-white);
  transition: rotate 0.2s ease, opacity 0.2s ease;

  @include tablet {
    height: 2px;
  }
}

.header__buy {
  padding: rem(13) rem(35);
  border-radius: rem(50);
  background-color: var(--color-yellow);
  display: flex;
  align-items: center;
  gap: rem(6);
  color: var(--color-green-dark);
  font-weight: 300;
  font-size: rem(16);
  text-wrap: nowrap;

  @include tablet {
    margin-left: auto;
    margin-right: rem(40);
  }

  @include mobile {
    margin-right: rem(28);
  }

  svg {
    width: rem(16);
    height: rem(20);
  }
}

.header__buy--fixed {
  height: rem(181);
  width: rem(63);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff701;
  border-radius: rem(30) 0 0 rem(30);
  position: absolute;
  top: 50vh;
  right: 0;
  z-index: 10;
  text-align: center;
  color: var(--color-green-dark);
  text-wrap: nowrap;

  @include mobile {
    width: rem(51);
  }

  span {
    font-weight: 300;
    font-size: rem(18);
    transform: rotate(-90deg);
    translate: 2% -90%;
  }

  img {
    width: rem(20);
    height: rem(20);
  }
}

.header__buy--fixed svg {
  position: absolute;
  bottom: rem(30);
  right: 50%;
  translate: 50% 0;
  rotate: -90deg;
}

// @media (min-width: rem(768)) {
//   .nav-item a:hover {
//     opacity: 0.7;
//   }

//   .nav-item.disabled a:hover {
//     color: #fff;
//     cursor: auto;
//   }
// }

// @media (max-width: rem(767)) {
//   .nav-item a:active {
//     opacity: 0.7;
//   }

//   .nav-item.disabled a:active {
//     color: #fff;
//   }
// }

// @media (min-width: rem(768)) {
//   .buy-button:hover {
//     box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5) inset;
//   }
// }

// @media (max-width: rem(767)) {
//   .buy-button:active {
//     box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5) inset;
//   }
// }

// @media (max-width: rem(1023)) {
//   .buy-button {
//     padding-left: rem(20);
//     padding-right: rem(20);
//   }
// }

// @media screen and (max-width: rem(1023)) {
//   .main-nav {
//     text-transform: capitalize;
//   }

//   .nav-list {
//     justify-content: space-around;
//   }
// }

// @media screen and (max-width: rem(767)) {
//   .header-container {
//     min-height: rem(50);
//   }

//   .main-nav {
//     width: 100%;
//     height: 100vh;
//     padding-top: 20vh;
//     background-color: #64b22a;
//     display: flex;
//     justify-content: center;
//     position: absolute;
//     top: 0;
//     left: 0;
//     translate: 0 -100%;
//     z-index: 100;
//     transition: translate 0.3s ease;
//     font-size: rem(16);
//     text-transform: uppercase;
//     visibility: hidden;
//   }

//   .main-nav.open {
//     translate: 0 0;
//     visibility: visible;
//   }

//   .nav-list {
//     flex-direction: column;
//     justify-content: start;
//     align-items: center;
//     gap: rem(20);
//     opacity: 0;
//   }

//   .main-nav.open .nav-list {
//     opacity: 1;
//   }

//   .header-menu-btn {
//     display: flex;
//   }

//   .buy-button {
//     margin-left: auto;
//     margin-right: rem(20);
//     padding: rem(6) rem(18);
//     font-size: rem(14);
//   }

//   .buy-button svg {
//     width: rem(12);
//     height: rem(16);
//   }

//   .header-buy-btn {
//     width: rem(42);
//     border-radius: rem(20) 0 0 rem(20);
//     font-size: rem(16);
//     translate: 0 -50%;
//   }
// }
