@use "../helpers/" as *;

.header {
  width: 100%;
  border-radius: vw(2px);
  background-color: var(--color-green);
  box-shadow: vw(0px) vw(4px) vw(20px) rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
}

.header.accent-bg {
  background-color: #325e18;
}

.header__container {
  min-height: vw(70px);
  margin-left: auto;
  margin-right: auto;
  padding-left: vw(20px);
  padding-right: vw(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  width: vw(131px);
  flex-shrink: 0;
}

.header__nav {
  min-width: vw(240px);
  width: vw(667px);
  margin-top: auto;
  margin-bottom: auto;
  font-size: vw(16px);
  text-transform: uppercase;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--second-family);
    color: var(--color-white);

    a.disabled {
      opacity: 0.7;
    }

    a:hover {
      opacity: 0.7;
    }
  }
}

.header__menu-btn {
  display: none;
  width: vw(30px);
  height: vw(24px);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.header-menu-btn span {
  width: 100%;
  height: vw(2px);
  border-radius: vw(10px);
  background-color: #fff;
  transition: rotate 0.2s ease, opacity 0.2s ease;
}

.header-menu-btn.open {
  position: relative;
  z-index: 101;
}

.header-menu-btn.open span:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 vw(11px);
}

.header-menu-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.header-menu-btn.open span:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -vw(11px);
}

.header__buy {
  padding: vw(13px) vw(35px);
  border-radius: vw(50px);
  background-color: var(--color-yellow);
  display: flex;
  align-items: center;
  gap: vw(6px);
  color: var(--color-green-dark);
  font-weight: 300;
  font-size: vw(16px);
  text-wrap: nowrap;

  svg {
    width: vw(16px);
    height: vw(20px);
  }
}

.header__buy--fixed {
  height: vw(181px);
  width: vw(63px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff701;
  border-radius: vw(30px) 0 0 vw(30px);
  position: absolute;
  top: 50vh;
  right: 0;
  z-index: 10;
  text-align: center;
  color: var(--color-green-dark);
  text-wrap: nowrap;

  span {
    font-weight: 300;
    font-size: vw(18px);
    transform: rotate(-90deg);
    translate: 2% -90%;
  }

  img {
    width: vw(20px);
    height: vw(20px);
  }
}

.header__buy--fixed svg {
  position: absolute;
  bottom: vw(30px);
  right: 50%;
  translate: 60% 0;
  rotate: -90deg;
}

@media (min-width: vw(768px)) {
  .nav-item a:hover {
    opacity: 0.7;
  }

  .nav-item.disabled a:hover {
    color: #fff;
    cursor: auto;
  }
}

@media (max-width: vw(767px)) {
  .nav-item a:active {
    opacity: 0.7;
  }

  .nav-item.disabled a:active {
    color: #fff;
  }
}

@media (min-width: vw(768px)) {
  .buy-button:hover {
    box-shadow: 0 0 vw(5px) rgba(0, 0, 0, 0.5) inset;
  }
}

@media (max-width: vw(767px)) {
  .buy-button:active {
    box-shadow: 0 0 vw(5px) rgba(0, 0, 0, 0.5) inset;
  }
}

@media (max-width: vw(1023px)) {
  .buy-button {
    padding-left: vw(20px);
    padding-right: vw(20px);
  }
}

@media screen and (max-width: vw(1023px)) {
  .main-nav {
    text-transform: capitalize;
  }

  .nav-list {
    justify-content: space-around;
  }
}

@media screen and (max-width: vw(767px)) {
  .header-container {
    min-height: vw(50px);
  }

  .main-nav {
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    background-color: #64b22a;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -100%;
    z-index: 100;
    transition: translate 0.3s ease;
    font-size: vw(16px);
    text-transform: uppercase;
    visibility: hidden;
  }

  .main-nav.open {
    translate: 0 0;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: vw(20px);
    opacity: 0;
  }

  .main-nav.open .nav-list {
    opacity: 1;
  }

  .header-menu-btn {
    display: flex;
  }

  .buy-button {
    margin-left: auto;
    margin-right: vw(20px);
    padding: vw(6px) vw(18px);
    font-size: vw(14px);
  }

  .buy-button svg {
    width: vw(12px);
    height: vw(16px);
  }

  .header-buy-btn {
    width: vw(42px);
    border-radius: vw(20px) 0 0 vw(20px);
    font-size: vw(16px);
    translate: 0 -50%;
  }
}
