@use "../helpers/" as *;
.hero {
  padding-top: 70px;
  position: relative;
  font-family: var(--second-family);
  color: #66b72a;
  font-weight: 600;
  text-transform: uppercase;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero__bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__product-img {
  width: vw(266px);
  position: absolute;
  bottom: vw(19px);
  right: vw(400px);
  //   left: 50%;
  //   translate: vw(-14px) 0;
  user-select: none;
  z-index: 1;
}

.hero__woman-img {
  width: vw(328px);
  position: absolute;
  bottom: 0;
  right: vw(58px);
  filter: drop-shadow(12px 19px 50px rgba(0, 0, 0, 0.1));
  user-select: none;
  z-index: 1;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  position: relative;
  z-index: 2;
}

@function get-vw($target) {
  $vw-context: (1280 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

.hero__title {
  margin-bottom: vw(50px);
  font-size: vw(34px);
  line-height: 100%;
  font-weight: 400;
  color: #1e1842;
}

.hero__subtitle {
  font-family: var(--second-family);
  max-width: vw(621px);
  color: #1e1842;
  font-size: vw(56px);
  line-height: 111%;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.hero-title__name {
  font-weight: 400;
}

.scroll-hint {
  align-self: start;
  margin-top: 100px;
  gap: vw(15px);
  font-size: vw(24px);
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
}

.wheel {
  border: vw(1px) solid #66b72a;
  border-radius: vw(50px);
  width: vw(25px);
  height: vw(45px);
  position: relative;
}

.wheel:before {
  content: "";
  width: vw(7px);
  height: vw(7px);
  border-radius: 100%;
  background-color: #66b72a;
  position: absolute;
  top: vw(7px);
  left: 50%;
  translate: -50% 0;
  animation: wheel-scroll 2s ease infinite;
}

@keyframes wheel-scroll {
  0% {
    opacity: 0;
  }
  20% {
    translate: -50% 0;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    translate: -50% 320%;
    opacity: 1;
  }

  100% {
    translate: -50% 320%;
    opacity: 0;
  }
}

@media screen and (max-width: 1279px) {
  .hero-product-img {
    translate: -50% 50%;
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    position: relative;
  }

  .hero-container {
    align-items: start;
  }

  .hero-content {
    position: static;
  }

  .hero-product-img {
    translate: 0 0;
    bottom: 50px;
    left: auto;
    right: 10px;
  }

  .hero-woman-img {
    right: auto;
    left: 10px;
  }

  .scroll-hint {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .hero-title {
    font-size: 24px;
    line-height: 120%;
    text-align: center;
  }

  .hero-subtitle {
    margin-top: 20px;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
  }
}
