@use "../helpers/" as *;
.hero {
  padding-top: rem(70);
  display: flex;
  align-items: center;
  position: relative;
}

.hero__bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__product-img {
  width: rem(266);
  position: absolute;
  bottom: rem(19);
  right: rem(400);
  user-select: none;
  z-index: 1;
}

.hero__woman-img {
  width: rem(328);
  position: absolute;
  bottom: 0;
  right: rem(58);
  filter: drop-shadow(12px 19px 50px rgba(0, 0, 0, 0.1));
  user-select: none;
  z-index: 1;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  position: relative;
  z-index: 2;
}

.hero__title {
  margin-bottom: rem(50);
  font-size: rem(34);
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__subtitle {
  font-family: var(--second-family);
  max-width: rem(621);
  font-size: rem(56);
  line-height: 111%;
  letter-spacing: -0.03em;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-title__name {
  font-weight: 400;
}

.scroll-hint {
  align-self: start;
  margin-top: 100px;
  gap: rem(15);
  font-size: rem(24);
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
  color: var(--color-green);
  text-transform: uppercase;
}

.wheel {
  border: rem(1) solid var(--color-green);
  border-radius: rem(50);
  width: rem(25);
  height: rem(45);
  position: relative;
}

.wheel:before {
  content: "";
  width: rem(7);
  height: rem(7);
  border-radius: 100%;
  background-color: var(--color-green);
  position: absolute;
  top: rem(7);
  left: 50%;
  translate: -50% 0;
  animation: wheel-scroll 2s ease infinite;
}

@keyframes wheel-scroll {
  0% {
    opacity: 0;
  }
  20% {
    translate: -50% 0;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    translate: -50% 320%;
    opacity: 1;
  }

  100% {
    translate: -50% 320%;
    opacity: 0;
  }
}

// @media screen and (max-width: 1279px) {
//   .hero-product-img {
//     translate: -50% 50%;
//   }
// }
// @media screen and (max-width: 767px) {
//   .hero-section {
//     position: relative;
//   }

//   .hero-container {
//     align-items: start;
//   }

//   .hero-content {
//     position: static;
//   }

//   .hero-product-img {
//     translate: 0 0;
//     bottom: 50px;
//     left: auto;
//     right: 10px;
//   }

//   .hero-woman-img {
//     right: auto;
//     left: 10px;
//   }

//   .scroll-hint {
//     margin-top: 20px;
//     margin-left: auto;
//     margin-right: auto;
//     font-size: 16px;
//   }

//   .hero-title {
//     font-size: 24px;
//     line-height: 120%;
//     text-align: center;
//   }

//   .hero-subtitle {
//     margin-top: 20px;
//     font-size: 28px;
//     line-height: 100%;
//     text-align: center;
//   }
// }
