@use "../helpers/" as *;
.hero {
  display: flex;
  align-items: center;
  position: relative;
}

.hero__bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero__container {
  padding-top: rem(70);

  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  @include tablet {
    align-items: start;
    padding-top: rem(120);
  }
}

.hero__product-img {
  width: rem(266);
  position: absolute;
  bottom: rem(19);
  right: rem(400);
  user-select: none;
  z-index: 1;

  @include tablet {
    right: auto;
    left: 0;
  }

  @include mobile {
    width: rem(460);
    bottom: rem(40);
    left: 50%;
    translate: -50%;
  }

  @media screen and (max-width: 375px) {
    width: rem(400);
  }

  @media screen and (max-height: 500px) {
    display: none;
  }
}

.hero__woman-img {
  width: rem(328);
  position: absolute;
  bottom: 0;
  right: rem(58);
  filter: drop-shadow(12px 19px 50px rgba(0, 0, 0, 0.1));
  user-select: none;
  z-index: 1;

  @include tablet {
    right: 0;
  }

  @include mobile {
    display: none;
  }
  @media screen and (max-height: 500px) {
    display: none;
  }
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  position: relative;
  z-index: 2;
}

.hero__title {
  margin-bottom: rem(50);
  font-size: rem(34);
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__subtitle {
  font-family: var(--second-family);
  max-width: rem(621);
  font-size: rem(56);
  line-height: 111%;
  letter-spacing: -0.03em;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-title__name {
  font-weight: 400;
}

.scroll-hint {
  align-self: start;
  margin-top: rem(100);
  gap: rem(15);
  font-size: rem(24);
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
  color: var(--color-green);
  text-transform: uppercase;

  @include tablet {
    margin-top: rem(80);
  }
  @include mobile {
    margin-top: rem(30);
  }
}

.wheel {
  border: rem(1) solid var(--color-green);
  border-radius: rem(50);
  width: rem(25);
  height: rem(45);
  position: relative;
}

.wheel:before {
  content: "";
  width: rem(7);
  height: rem(7);
  border-radius: 100%;
  background-color: var(--color-green);
  position: absolute;
  top: rem(7);
  left: 50%;
  translate: -50% 0;
  animation: wheel-scroll 2s ease infinite;
}

@keyframes wheel-scroll {
  0% {
    opacity: 0;
  }
  20% {
    translate: -50% 0;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    translate: -50% 320%;
    opacity: 1;
  }

  100% {
    translate: -50% 320%;
    opacity: 0;
  }
}
