@use "../helpers/" as *;

.thanks {
  padding-top: rem(70);
  display: flex;
  align-items: center;
}

.thanks__container {
  width: min(100%, rem(1180));
  margin-left: auto;
  margin-right: auto;
  padding: rem(60) rem(60) rem(60) rem(80);
  border-radius: rem(20);
  background: #f5f3f4;

  @include tablet {
    width: initial;
  }
}

.thanks__images {
  display: flex;
  gap: rem(20);

  @include tablet {
    margin-right: auto;
  }

  img {
    width: rem(202);
    filter: drop-shadow(rem(10) rem(20) rem(20) rgba(0, 0, 0, 0.2));

    @media screen and (max-width: 375px) {
      width: rem(152);
    }
  }
}

.thanks__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  @include tablet {
    flex-direction: column;
    gap: rem(50);
  }
}

.thanks__text {
  p {
    max-width: rem(585);

    @include tablet {
      max-width: 100%;
    }
  }
}

.thanks-text__title {
  max-width: rem(458);
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 600;
  font-size: rem(44);
  line-height: rem(50);
  color: var(--color-green);
  margin-bottom: rem(35);

  @include tablet {
    max-width: 100%;
  }
}

.thanks-text__description {
  max-width: rem(458);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(20);
  color: #000000;
  margin-bottom: rem(20);

  @include tablet {
    margin-bottom: rem(35);
  }
}

.thanks-text__where-buy {
  display: flex;
  gap: rem(10);
  align-items: center;
  font-family: var(--font-family);
  border-radius: rem(20);
  padding: rem(8) rem(32) rem(8) rem(40);
  width: rem(212);
  background: var(--color-green);
  font-weight: 300;
  font-size: rem(20);
  line-height: 90%;
  color: var(--color-green-dark);
  text-wrap: nowrap;
  transition: 0.2s;

  @include mobile {
    width: fit-content;
    padding: 8px 32px 8px 40px;
    font-size: 14px;
  }

  &:hover {
    opacity: 0.8;
  }

  img {
    width: rem(26);
  }
}
