@use "../helpers/" as *;

.treatment {
  padding-top: rem(70);
  background-color: var(--color-green);
  display: flex;
  align-items: center;

  @include mobile {
    padding-top: rem(100);
    align-items: start;
  }
}

.treatment__title {
  color: var(--color-white);
  font-size: rem(36);
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 100%;
  text-align: center;

  @include mobile {
    font-size: 28px;
  }
}

.treatment__content {
  margin-top: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(60);

  @include tablet {
    flex-direction: column-reverse;
  }
}

.treatment__card {
  width: rem(526);
  min-height: rem(140);
  padding-left: rem(120);
  padding-right: rem(40);
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  border-radius: rem(30);
  background-color: var(--color-white);

  @include tablet {
    width: 100%;
  }

  p {
    max-width: rem(350);
    font-size: rem(16);
    line-height: 125%;
    font-weight: 600;
    color: var(--color-green-alt);

    @include tablet {
      max-width: rem(500);
    }

    @include mobile {
      font-size: 12px;
    }
  }

  img {
    width: rem(110);
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
  }
}

.treatment__text p {
  max-width: rem(593);
  color: var(--color-white);
  font-size: rem(18);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 133%;

  @include tablet {
    max-width: 100%;
    text-align: center;
  }

  @include mobile {
    font-size: 14px;
  }
}

.treatment__description {
  max-width: rem(1102);
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
  font-size: rem(18);
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 156%;
  text-align: center;
  margin-top: rem(50);

  @include tablet {
    font-size: rem(16);
  }
  @include mobile {
    font-size: 14px;
  }
}
