@use "../helpers/" as *;

.usage {
  padding-top: rem(70);
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding-top: rem(100);
    align-items: start;
  }
}

.usage__title {
  margin-bottom: rem(50);
  font-size: rem(36);
  font-family: var(--second-family);
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  color: var(--color-white);

  @include mobile {
    font-size: 28px;
  }
}

.usage__content {
  margin-bottom: rem(40);
  display: flex;
  justify-content: center;
  gap: rem(62);
  align-items: center;

  @include tablet {
    flex-direction: column;
    justify-content: start;
    gap: rem(30);
  }
}

.usage__images {
  display: flex;
  gap: rem(24);
  user-select: none;

  img {
    width: rem(205);
  }
}

.usage__instructions {
  padding: rem(40);
  border-radius: rem(30);
  background-color: var(--color-white);
  color: var(--color-green-alt);

  @include tablet {
    width: 100%;
  }

  h3 {
    font-size: rem(24);
    font-family: var(--second-family);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(30);

    @include mobile {
      font-size: 18px;
    }

    span {
      font-size: 0.7em;
      vertical-align: top;
      line-height: 160%;
    }
  }

  .usage__item {
    display: flex;
    align-items: center;
    gap: rem(16);

    &:not(:last-of-type) {
      margin-bottom: rem(20);
    }

    img {
      width: rem(55);
      user-select: none;

      @include mobile {
        width: 35px;
        height: 35px;
      }
    }

    p {
      max-width: rem(444);
      font-size: rem(16);
      font-weight: 400;
      line-height: 125%;

      @include tablet {
        max-width: 100%;
      }

      @include mobile {
        font-size: 14px;
      }

      strong {
        font-weight: 900;
      }
    }
  }
}

.usage__addons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  color: var(--color-white);
  text-align: center;

  p:first-of-type {
    max-width: rem(958);
    font-size: rem(20);
    line-height: 100%;
    font-weight: 400;

    @include mobile {
      font-size: 16px;
    }
  }

  p:last-of-type {
    font-size: rem(14);
    line-height: 143%;
    font-weight: 400;

    @include mobile {
      font-size: 14px;
    }
  }
}
